*{
    padding:0px;
    margin:0px;
}

header{
    background-color: orange;
    color:white;
    height:50px ;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
footer{
    background-color: orange;
    color:white; 
    height:110px ;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-around;
}
form{
    background-color: blue;
    color: yellow;
    display: flex;
    flex-direction: column;
   justify-content: flex-start;
    width: 400px;
    height:400px

}
#submit{
    background-color: #008000;
    color:#ffffff;
    width:50px;
    height:50px;
}
#cancel{
    background-color: #ff0000;
    color:#ffffff;
    width:50px;
    height:50px;
}
#first{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}